.language-banner {
    background-color: #f3e5f5; /* Couleur de fond du bandeau */
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #e1bee7;
}

.language-banner-content a.md-button {
    background-color: #7e57c2; /* Couleur des boutons */
    color: white;
    padding: 0.1em;
    border-radius: 4px;
    text-decoration: none;
}

.language-banner-content a.md-button:hover {
    background-color: #5e35b1;
}

