.language-banner {
    background-color: #f3e5f5; /* Couleur de fond du bandeau */
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #e1bee7;
    font-size: 14px;
}

.language-banner-content span {
    margin-right: 10px;
}

.language-banner-content a.md-button {
    margin: 0 5px;
    background-color: #7e57c2; /* Couleur des boutons */
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
}

.language-banner-content a.md-button:hover {
    background-color: #5e35b1;
}

