name: Publish docs via GitHub Pages
on:
  push:
    branches:
      - main
  permissions:      
      contents: read
       pages: write   
jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v4

      - name: Deploy MkDocs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

