name: Publish docs via GitHub Pages
on:
  push:
    branches:
      - main   
jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@latest

      - name: Deploy MkDocs
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}

