name: Publish docs via GitHub Pages
on:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    # For setup, see https://www.mkdocs.org/#installation
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Needed for the revisions plugin to work
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mkdocs

      - name: Deploy MkDocs
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

